<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  {% seo %}
  <title>{{ page.title }} - {{ site.title }}</title>
  <script src="/assets/js/main.js"></script>
</head>

<body>
  {% include navigation.html %}
  <main>
    <h1> {{ page.title }}{% if page.subtitle %}<span
        style="font-size: small; font-weight: 100;">&nbsp;&nbsp;&nbsp;{{ page.subtitle }}</span>{% endif %}
    </h1>
    {{ content }}
  </main>
  <footer>I am using <a href="https://www.goatcounter.com/">GoatCounter</a> for Analytics</footer>
  <script data-goatcounter="https://inqb.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>
